$concret: #95a5a6;
$silver: #bdc3c7;
$skyblue: #3498db;
$royalblue: #2980b9;
$orange: #f39c12;
$red: #e74c3c;

$grey-lighter: rgb(248,248,248);
$grey-light: rgb(221,221,221);
$grey: rgb(180,188,194);
$grey-dark: rgb(162,169,174);
$grey-darker: rgb(144,150,155);

$grey-text-light: rgb(100, 100, 100);
$grey-text: rgb(75, 75, 75);
$grey-text-dark: rgb(65, 65, 65);

html, body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}

input, select, textarea {
  width: 100%;
  // border: 1px solid transparent;
  &:focus {
    outline: 0;
  }
}


#container, .app-wrapper {
  height: 100%;
  width: 100%;
  background-color: #999;
}

.nav-top {
  width: 100%;
  display: inline-block;
  height: 53px;
  background-color: $skyblue;
  .channel-header {
    float: left;
    display: inline-block;
    height: 100%;
    width: 15%;
    text-align: center;
  }
  .active-channel-name {
    display: inline-block;
    float: left;
    width: 55%;
  }
  .search {
    width: 20%;
    float: right;
  }
}


.app-main {
  position: relative;
  height: 100%;
  background-color: white;
}


// channel section

.channels-wrap {
  width: 15%;
  height: 100%;
  float: left;
  padding: 20px 30px;
  color: white;
  background: #333;
}

// message section

.message-wrap {
  width: 65%;
  height: 100%;
  float: left;
  color: $grey-text-light;
  font-size: 90%;
  background-color: white;
}

.message-textarea {
  position: fixed;
  bottom: 0;
  width: 100%;
}


// side content

.side-content {
  width: 20%;
  height: 100%;
  float: left;
  background-color: $grey-light;
  font-size: 90%;
}

